.button {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: none;
    color: #1b73e8;
    background-color: #eaf0fc;
    cursor: pointer;
    padding: 0;

    &:hover {
        color: darken(#1b73e8, 5%);
        background-color: darken(#eaf0fc, 3%);
    }
}

.icon {
    vertical-align: middle;
}
