@import '../../common/styles/mixins.module';
@import '../../common/styles/vars.module';

.header {
    @include flexRowSettings();
    height: $headerHeight;
    background-color: $headerBackgroundColor;
}

.content {
    flex: 1;
}

.button {
    @include headerButton;
}

.icon {
    @include icon;
}
